*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	/*font-family: 'Lobster', cursive;*/
	font-family: 'Open Sans', sans-serif;
}
html,body{
	height: 100%;
}


.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.clear{
	clear: both;
}

.header1{
	width: 100%;
	margin:0 auto;
	background-color: #999966;
	padding: 10px 2%;
	/*border-radius: 60px;*/
	border-bottom: 1px solid black;
	position: fixed;
	z-index: 1;

}
.header1 img{
	width: 30px;
}
.header2{
	display: none;
}
.contato{
	float: right; 
}

.logo-1{
	float: left;
	margin-left: 40px;
	/*width: 40px;
	height: 40px;
	background-image: url(images/pizza.png);
	background-size: 100% 100%;*/
}

.logo-2{
	float: right;
	margin-right: 20px;
	/*width: 40px;
	height: 40px;
	background-image: url(images/whatsapp.png);
	background-size: 100% 100%;*/
}

.logo-2 li{
	list-style-type: none;
	text-align: center;
}
.logo-1 li{
	list-style-type: none;
	text-align: center;
}
.titulo-logo1{
	color: #ff4d4d;
	font-family: 'Lobster', cursive;
}
.logo-1 a{
	text-decoration: none;
}
.logo-2 a{
	text-decoration: none;
}
.logo-1 h2{
	color: 	#333333;
	font-weight: normal;
	font-size: 18px;
	font-family: 'Lobster', cursive;
	text-shadow: 2px 2px 4px white;
}
.logo-2 h2{
	color: 	#333333;
	font-weight: normal;
	font-size: 20px;
	font-family: 'Lobster', cursive;
	text-shadow: 2px 2px 4px white;
}
.logo-2 h2:hover{
	font-size: 22px;
	background-color:rgb(138, 138, 92);
	border-radius: 5px;
	transition: 1s;
}
.logo-1 h2:hover{
	font-size: 22px;
	background-color:rgb(138, 138, 92);
	border-radius: 5px;
	transition: 1s;
}
.logo-center{
	width: 70px;
	height: 70px;	
	margin: 0 auto;
	margin-top: -60px;
	background-size: 100% 100%;
	background-image: url(images/logo-center.png);
}

section.cover-form{
	width: 100%;
	padding: 0 2%;
	padding-top: 100px;
	padding-bottom: 10px;
	background-color: rgba(230, 230, 230,.4);
}
.bg{
	background-image:url(images/pizza-banner.png);
	height: 500px;
	background-repeat: no-repeat;
	background-position: left;
	/*margin-left: 50px;*/
	opacity: 0.9;

}
.promocao{
	font-family: 'Comfortaa', cursive;
	margin-top: 5px;
	color: 	#333333;
  	text-shadow: 2px 2px 5px #ccc;
  	display: inline;	

}

.form-container{
	float: right;
	width: 100%;
	max-width: 400px;
	height: 100%;	
	background:linear-gradient(to right,#ffff80, #ccc);
	border-radius: 20px;
	margin-right: 40px;
	box-shadow: 10px 10px 5px grey;
	
}
.form-container h4{
	background-color: rgba(234,236,239,0.7);
	font-size: 18px;
	font-weight: normal;
	padding:15px;
}
.form-container h3{
	font-size: 18px;
	font-weight: normal;
	color: rgb(217, 47, 62);
}
.form-container form input[type=text]{
	width: 100%;
	border: 1px solid #ccc;
	height: 45px;
	line-height: 45px;
	padding-left: 10px;
}
.form-container p {
	font-size: 16px;
	color: #404040;
}

.form-container form{
	margin-top: 8px;
	padding:15px;
}
.form-wraper{
	border: 2px solid #ccc;
	border-style: dashed;
	padding: 5px;
}
.form-wraper:not(:first-child){
	margin-top: 10px;
}
.form-wraper-comprar{
	padding-top: 40px;
}
.form-container button{
	background-color: #ff4d4d;
	text-transform: uppercase;
	color: white;
	width: 100%;
	font-size: 18px;
	height: 50px;
	cursor: pointer;
	border: 0;
}
section.chamada{
	padding: 60px 0;
	text-align: center;
	background-color: 	rgb(46, 46, 31);
}
.seta img{
	width: 100%;
	max-width: 50px;
}
.seta{
	position: absolute;
	left: 50%;
	margin-top: -15px;
	transform: translateX(-50%);
	transform: rotate(30deg);
	margin-left: -20px;

}

section.chamada h2{
	display: inline-block;
	color: white;
	font-size: 30px;
	font-weight: normal;
}

section.mosaico{
	padding-top: 20px;
}
.flex-mosaico{
	display: flex;
	margin-top: 10px;
}
.item-1-mosaico img{
	width: 70%;
	height: 300px;
}
.item-1-mosaico{
	width: 70%;
	border-right: 1px solid #808080;
	background:linear-gradient(to right,#ffff80, #ccc);
	-webkit-box-shadow: -9px 2px 12px 1px rgba(150,146,98,1);
	-moz-box-shadow: -9px 2px 12px 1px rgba(150,146,98,1);
	box-shadow: -9px 2px 12px 1px rgba(150,146,98,1);
	text-align: center;
}
.item-2-mosaico{
	width: 30%;
	background:linear-gradient(to right, #ccc,#808080,#4d4d4d);
	-webkit-box-shadow: 9px 1px 12px 1px rgba(150,146,98,1);
	-moz-box-shadow: 9px 1px 12px 1px rgba(150,146,98,1);
	box-shadow: 9px 1px 12px 1px rgba(150,146,98,1);
}

.item-2-mosaico p{
	text-align: left;
	color: white;
	margin-top: 5px;
	padding-left: 10px;
}
.item-2-mosaico h2{
	text-align: center;
	color: white;
	padding: 5px;
	margin-top: 30%;
}
.item-2-mosaico h3{
	text-align: center;
	color: white;
}

.img-ultima{
	padding-top: 30px;
}

.linha{
	width: 89%;
	margin: 0 auto;
	border: 1px solid #ccc;
	margin-top: 30px;
}

section.bebidas{
	width: 89%;
	margin: 0 auto;
	margin-top: 20px;
}
.bebidas > .box{
	width: 100%;
	padding: 0 2%;
}
.bebidas > .box > h1{
	border-bottom: 1px solid black;
	display: inline;
	color: #333333;
}
.bebidas > .box > .refri > .refris >h3{
	background-color: #ff4d4d;
	color: #333333;
}

.bebidas > .box > .refri > .refris > div >p{
	display: inline;
	border-radius: 20px;
}

.refri{
	width: 100%;
	text-align: center;
}
.refri > .refris{
	display: inline-block;
	width: 44.5%;
	max-width: 400px;
	margin-top: 20px;
	border: 1px solid #ccc;
}
.refris img{
	width: 100px;
	/*float: left;
	margin-top: 10px;
	margin-left: 30px;*/
}
section > .img2{
	/*float: right;*/
}

footer.rodape{
	padding: 20px 2%;
	width: 100%;
	height: 300px; 
/*	margin-top: 10px;*/
	background-color:  #999966;

}
.box-comprar{
	width: 100%;
	max-width: 400px;
	height: 200px;
	margin: 0 auto;
	margin-top: 100px;
	border-radius: 20px;
	margin-bottom: -60px;
	position: relative;
	border-style: outset;
	text-align: center;
	background-color: rgba(242, 242, 242,0.7);
}
.box-comprar h2:first-child{
	padding-top: 30px;
	color:#ccc;

}
.box-comprar button{
	width: 100%;
	border: none;
	border-style: outset;
	color: white;
	font-size: 18px;
	cursor: pointer;
	max-width: 250px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #ff4d4d;
	padding: 15px;
	font-weight: normal;
}
.lado-esquerdo{
	width: 100%;
	margin-top: 80px;
}
.lado-esquerdo div{
	padding: 5px;
}
.lado-esquerdo div h4{
	font-size: 14px;
	font-weight: normal;
	color: white;
}
.loja{
	display: flex;
}
.end{
	display: flex;
}
.telefone{
	display: flex;
}
.feedback{
	display: flex;
}
section.meio{
	position: absolute;
	left: 50%;
	margin-left: -30px;
	margin-top: -150px;
}

.redes-sociais{
	float: right;
	padding: 5px;
	margin-top: -100px;
	text-align: center;
}
.redes-sociais div{
	display: inline-block;
	padding: 5px;
}

@media screen and (max-width: 700px){
		section.mosaico{
		padding-top: 0px;
	}
	.flex-mosaico{
		display: block;
		padding: 0 2%;
		
	}
	.item-1-mosaico{
		width: 100%;
		height: 200px;
		text-align: center;
	}
	.item-2-mosaico{
		width: 100%;
		padding-top: 20px;
		margin-top: 20px;
	}
	.item-2-mosaico p{
		padding-top: 0;
		margin-top: 0;
	}
	.item-1-mosaico img{
		width: 70%;
		height: 200px;

	}

}

@media screen and (max-width: 510px){
	section.chamada h2{
		/*margin-top: 50px;*/
		padding-top: 10px;
	}

	.logo-1 ,.logo-2{
		float: none;
		display: none;
	}
	.header1{
		position: static;
	}

	.logo-center{
		margin: 0 auto;
	}
	.header2{
		display: block;
		width: 100%;
		height: 50px;
		background: linear-gradient(to right, #e6e6e6,#a6a6a6,#666666) ;
		border: 1px solid #333;
  		bottom: 0px;
  		/*left: 5%;
  		right: 5%;*/
 		position: fixed;
 		/*border-radius: 30px;*/
 		z-index: 1;
	}
	.nav-bottom div{
		display: inline-block;
	}
	.nav-bottom{
		margin: 0 auto;
		text-align: center;
	}
	.logo1{
		margin-right: 20px;

	}
	.item-2-mosaico h2{
		margin-top: 0;
	}
	.logo2 img{
		width: 25px;
	}
	.logo1 img{
		width: 25px;
	}
	.logo1 a{
		text-decoration: none;
		font-size: 12px;
		color: 	#333333;
		font-weight: normal;
		font-size: 10px;
		font-family: 'Lobster', cursive;
		text-shadow: 2px 2px 4px white;
	}
	.logo2 a{
		text-decoration: none;
		font-size: 12px;
		color: 	#333333;
		font-weight: normal;
		font-size: 10px;
		font-family: 'Lobster', cursive;
		text-shadow: 2px 2px 4px white;
	}
	.logo1 ul li{
		list-style-type: none;
	}
	.logo2 ul li{
		list-style-type: none;
	}
	.bg{
		background-image: none;
	}
	section.cover-form{
		padding-top: 10px;
	}
	.form-container{
		float: none;
		display: block;
		margin: 0 auto;
		margin-top: 10px;
		width: 100%;
		max-width: 300px;
	}
	.promocao{
		width: 100%;
		text-align: center;
		float: none;
		display: block;
	}
	.form-container button{
		margin-top: -15px;
	}
	.img-ultima{
		padding-top: 10px;
	}
	footer.rodape{
		margin-bottom: 50px;
	}
	.meio{
		display: none;
	}
	.box-comprar{
		width: 100%;
		max-width: 320px;
		height: 200px;
	}
	.box-comprar h2:first-child{
		padding-top: 30px;
		color:#ccc;
		font-size: 20px;

	}
	.box-comprar button{
		font-size: 16px;
		cursor: pointer;
		max-width: 220px;
		margin-top: 40px;
	}
}
