*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html,body{
	height: 100%;
	
}
.center{
	width: 100%;
	padding: 10px;
	margin: 0 auto;
}

.clear{
	clear: both;
}

header.header1{
	background-color:#4770EB;
	padding-top: 106px; 
	border-bottom: 1px solid #CCCCCC;
}



section.center{
	width: 100%;
	padding: 0 2%;
	margin: 0 auto;
}

.bem-vindo{
	float: left;
}
.bem-vindo h3{
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
	color: #CCCCCC;
	margin-top: -75px;
}

.navegacao{
	float: right;
	margin-top: -65px;
	margin-right: 150px;
}

.navegacao a{
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	color: #CCCCCC;
	padding: 8px; 
}
.navegacao a:hover{
	border-bottom: 2px solid white;
}

.redes-sociais{
	float: right;
	margin-top: -75px;
		

}

.linkedin{
	margin-right: 85px;
	margin-top: -42px;

}
.facebook{
	margin-left: 50px;
	margin-top: -43px;	
}
.insta{
	margin-left: 100px;
	margin-top: -44px;	
}
.github{
	margin-left: -48px;
}

.seta{
	margin-top: 15px;
	opacity: 0.8;
}
.seta:hover{
	opacity: 1;
}

.h3-profi{
	text-align: center;
	font-size: 30px;
	font-family: 'Roboto Slab', serif;
	color: #CCCCCC;

}


.im{
	width: 100%;
	margin-top: 50px;
	height: 60vh;
	height: auto;
	border: 1px solid black;
	text-align: center;
}
.im:hover{
	background: rgba(204, 204, 204, .3)

}

.im img{
	width: 100%;
	max-width: 1024px;
	height: 350px;
	height: auto;
	margin-top: 25px;
	opacity: 0.9;
}
.im img:hover{
	opacity: 1;
}
.im h1{
	font-size: 30px;
	color: #CCCCCC;
	margin-top: 5px;
	font-family: 'Roboto Slab', serif;
}

.im h3{
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 24px;
	background-color: #CCCCCC;
	display: inline-block;
	padding: 10px;
	color: #8ca6f2;
	border: 2px solid;
	border-style: outset;
	border-radius: 5px;

}
.cega{
	padding-top: 15px;
}

@media screen and (max-width: 807px){
	.bem-vindo h3{
		font-size: 24px;
		padding-left: 20px;
		
	}
	.redes-sociais{
		float: none;
		display: inline-block;
		padding-left: 60px;
	}

	.linkedin{
		margin-right: 85px;

	}
	.facebook{
		margin-left: 50px;
		margin-top: -42px;	
	}
	.insta{
		margin-left: 100px;
		margin-top: -44px;	
	}
	.h3-profi{
		font-size: 24px;
	}
	.im h1{
		font-size: 24px;
	}

	.im h3{
		font-size: 20px;
	}
	.seta{
		width: 30px;
	}


}

